$blue:   #5176C7;
$yellow: #FFCC39;
$green:  #6CB132;
$red:    #C83E31;

body {
	font-family: Roboto;
}

@keyframes spectrum {
	0% { fill: $blue; }
	25% { fill: $yellow; }
	50% { fill: $green; }
	75% { fill: $red; }
	100% { fill: $blue; }
}
.loading {
	animation: spectrum 4s infinite;
}

.avatar-calendar {
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;

	> * {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		&:first-child {
			flex-grow: 1;
			background-color: #666;
			font-size: 10px;
			line-height: 1;
			text-transform: uppercase;
			padding-top: 3px;
		}
		&:last-child {
			flex-grow: 3;
			color: #666;
			padding-bottom: 1px;
		}
	}
}